<article class="occasion_listing">
  <h3>{{#link-to "occasions.show" occasion}}{{occasion.title}}{{/link-to}}</h3>
  <p>
    #<em>{{occasion.id}}</em>
    {{occasion.date}}
  </p>
  <p>Wikidata: {{occasion.wikidata}}</p>
</article>

{{yield}}