<h2>{{title}}</h2>

<ul>
  {{#each occasions as |occasion|}}
    <article class="occasion_listing">
      <h3>{{occasion.title}}</h3>
      <p>
        #<em>{{occasion.id}}</em>
        {{occasion.date}}
      </p>
      <p>Wikidata: {{occasion.wikidata}}</p>
    </article>
  {{/each}}
</ul>

{{yield}}
