<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Territorium:</strong> {{model.territory}}
    </div>
    <div class="detail">
      <strong>Datum:</strong> {{model.date}}
    </div>
    <div class="detail">
      <strong>Wikidata:</strong> {{model.wikidata}}
    </div>
  </div>
</div>

{{outlet}}